# Common files
README.md
CHANGELOG.md

# Docker files
docker-compose.yml
Dockerfile

# Git files
.git
.gitattributes
.gitignore

# Nodejs files

## Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Dependency directories
node_modules/

# Others
.readthedocs.yml
docs
*.sh
src/assets/imagens/base_externa/*
src/assets/imagens/base_externa_zip/*
src/assets/imagens/base_interna/*
src/assets/imagens/base_interna_zip/*
src/assets/imagens/base_original/*
src/assets/imagens/base_thumbnail/*
src/assets/imagens/seeders/*
