openapi: 3.0.0
info:
  title: Center for Recognition and Inspection of Cells (CRIC) Searchable Image Database
  license:
    name: GNU Affero General Public License
    url: 'https://www.gnu.org/licenses/agpl-3.0.en.html'
  contact:
    url: 'https://database.cric.com.br'
    email: cric@ufop.edu.br
    name: Fagner Oliveira
servers:
  - url: 'https://api.database.cric.com.br/api/v1'
paths:
  /usuarios:
    post:
      summary: ''
      operationId: post-usuarios
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                primeiro_nome:
                  type: string
                ultimo_nome:
                  type: string
                email:
                  type: string
                senha:
                  type: string
                ativo:
                  type: integer
            examples: {}
      security:
        - API Key Authorization: []
      description: Insere um registro na tabela usuario_base.
  '/usuarios/{id_usuario}':
    parameters:
      - schema:
          type: number
        name: id_usuario
        in: path
        required: true
    post:
      summary: ''
      operationId: post-usuarios-id_usuario
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '500':
          description: Internal Server Error
      description: 'Se um id_usuário diferente de zero for fornecido a busca será realizada pelo id_usuário, se for passado um id_usuário igual a zero, a busca ocorrerá baseado no body da requisição.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                senha:
                  type: string
  /imagens:
    post:
      summary: ''
      operationId: post-imagens
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - API Key Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id_usuario:
                  type: integer
                id_lesao:
                  type: integer
                codigo_lamina:
                  type: string
                dt_aquisicao:
                  type: string
        description: ''
  '/imagens/{id_imagem}':
    parameters:
      - schema:
          type: number
        name: id_imagem
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-imagens-id_imagem
  /imagens-lesoes:
    post:
      summary: ''
      operationId: post-lesoes
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - API Key Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nome:
                  type: string
                detalhes:
                  type: string
            examples: {}
        description: Cadastra uma lista de lesões no sistema.
    get:
      summary: ''
      operationId: get-lesoes
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - API Key Authorization: []
    parameters: []
  /imagens-descricoes:
    parameters: []
    post:
      summary: ''
      operationId: post-descricoes
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - API Key Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codigo:
                  type: string
                nome:
                  type: string
      description: Cadastra uma lista de descrições no sistema.
    get:
      summary: ''
      operationId: get-descricoes
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - API Key Authorization: []
  '/imagens/{id_imagem}/classificacao-celula/{id_usuario}':
    parameters:
      - schema:
          type: integer
        name: id_imagem
        in: path
        required: true
      - schema:
          type: integer
        name: id_usuario
        in: path
        required: true
    post:
      summary: ''
      operationId: post-imagens-id_imagem-classificacao-celula
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      security:
        - API Key Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id_lesao:
                  type: integer
                coord_centro_nucleo_x:
                  type: integer
                coord_centro_nucleo_y:
                  type: integer
                alturaCanvas:
                  type: integer
                larguraCanvas:
                  type: integer
                larguraOriginalImg:
                  type: integer
      description: Cadastra um registro de classificação de célula no sistema.
  '/imagens/{id_imagem}/segmentacao-celula/{id_usuario}':
    parameters:
      - schema:
          type: integer
        name: id_imagem
        in: path
        required: true
      - schema:
          type: integer
        name: id_usuario
        in: path
        required: true
    post:
      summary: ''
      operationId: post-imagens-id_imagem-segmentacao-celula
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      description: Cadastra um registro de segmentação de célula no sistema.
      security:
        - API Key Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id_descricao:
                  type: integer
                alturaCanvas:
                  type: integer
                larguraCanvas:
                  type: integer
                alturaOriginalImg:
                  type: integer
                larguraOriginalImg:
                  type: integer
                segmentos_citoplasma:
                  type: array
                  items:
                    type: object
                    properties:
                      coord_x:
                        type: integer
                      coord_y:
                        type: integer
                segmentos_nucleo:
                  type: array
                  items:
                    type: object
                    properties:
                      coord_x: {}
                      coord_y:
                        type: integer
  /usuarios-administrador:
    post:
      summary: ''
      operationId: post-usuarios-administrador
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '500':
          description: Internal Server Error
      description: 'Insere um registro na tabela usuário_base e na tabela administrador, usa como chave primária na tabela administrador a mesma chave inserida na tabela usuario_base.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                primeiro_nome:
                  type: string
                ultimo_nome:
                  type: string
                email:
                  type: string
                senha:
                  type: string
                ativo:
                  type: integer
                api_key:
                  type: string
                nivel_acesso:
                  type: string
  /usuarios-citopatologista:
    post:
      summary: ''
      operationId: post-usuarios-citopatologista
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                primeiro_nome:
                  type: string
                ultimo_nome:
                  type: string
                email:
                  type: string
                senha:
                  type: string
                ativo:
                  type: string
                codigo_crc:
                  type: string
      description: 'Insere um registro na tabela usuário_base e na tabela citopatologista, usa como chave primária na tabela citopatologista a mesma chave inserida na tabela usuario_base.'
  /usuarios-visitante:
    post:
      summary: ''
      operationId: post-usuarios-visitante
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                primeiro_nome:
                  type: string
                ultimo_nome:
                  type: string
                email:
                  type: string
                senha:
                  type: string
                ativo:
                  type: integer
                pais:
                  type: string
                estado_regiao:
                  type: string
                cidade:
                  type: string
      description: 'Insere um registro na tabela usuário_base e na tabela visitante, usa como chave primária na tabela visitante a mesma chave inserida na tabela usuario_base.'
  '/usuarios/analista/{id_usuario}':
    parameters:
      - schema:
          type: integer
        name: id_usuario
        in: path
        required: true
    post:
      summary: ''
      operationId: post-usuarios-analista-id_usuario
      responses:
        '200':
          description: OK
      description: 'Realiza o cadastro de um analista. Um analista deve ser, obrigatoriamente, um citopatologista ou visitante previamente cadastrado no sistema.'
      security:
        - API Key Authorization: []
  '/usuarios/{id_usuario}/administrador':
    parameters:
      - schema:
          type: integer
        name: id_usuario
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-usuarios-id_usuario-administrador
      description: Obtém os dados associados ao usuário cadastrado no sistema.
      security:
        - API Key Authorization: []
  '/usuarios/{id_usuario}/citopatologista':
    parameters:
      - schema:
          type: integer
        name: id_usuario
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-usuarios-id_usuario-citopatologista
      description: 'Obtém os dados associados ao usuário cadastrado no sistema  '
      security:
        - API Key Authorization: []
  '/usuarios/{id_usuario}/visitante':
    parameters:
      - schema:
          type: integer
        name: id_usuario
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-usuarios-id_usuario-visitante
      description: Obtém os dados associados ao usuário cadastrado no sistema.
      security:
        - API Key Authorization: []
  '/usuarios/{id_usuario}/analista':
    parameters:
      - schema:
          type: number
        name: id_usuario
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-usuarios-id_usuario-analista
      description: Obtém os dados associados ao usuário cadastrado no sistema.
      security:
        - API Key Authorization: []
  '/usuarios/{token_autenticacao}':
    parameters:
      - schema:
          type: string
        name: token_autenticacao
        in: path
        required: true
    delete:
      summary: ''
      operationId: delete-usuarios-token_autenticacao
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: Realiza a operação de logoff do sistema.
      security:
        - API Key Authorization: []
  '/imagens/{id_imagem}/listar-classificacao-celula/{id_usuario}':
    parameters:
      - schema:
          type: integer
        name: id_imagem
        in: path
        required: true
      - schema:
          type: integer
        name: id_usuario
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-imagens-id_imagem-listar-classificacao-celula-id_usuario
      description: Lista todas as classificações realizadas em uma imagem.
  '/imagens/{id_imagem}/listar-segmentacao-celula/{id_usuario}':
    parameters:
      - schema:
          type: integer
        name: id_imagem
        in: path
        required: true
      - schema:
          type: integer
        name: id_usuario
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-imagens-id_imagem-listar-segmentacao-celula-id_usuario
      security:
        - API Key Authorization: []
  '/imagens/listar/{id_usuario}':
    parameters:
      - schema:
          type: integer
        name: id_usuario
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-imagens-listar-id_usuario
  /imagens/contagem/lesoes/descricoes:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-imagens-contagem-lesoes-descricoes
      description: Lista a contagem de tipos de lesão e descrição em células que foram analisadas
      security:
        - API Key Authorization: []
  '/imagens/download/base_interna_cvx/{id_usuario}':
    parameters:
      - schema:
          type: number
        name: id_usuario
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-imagens-download-base_interna_cvx-id_usuario
      description: |
        Realiza o download da coleção de imagens de células cervicais cadastradas na base por usuários do sistema.
      security:
        - API Key Authorization: []
  '/imagens/download/base_externa_cvx/{id_usuario}':
    parameters:
      - schema:
          type: string
        name: id_usuario
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-imagens-download-base_externa_cvx-id_usuario
      description: Realiza o download da coleção de imagens de células cervicais cadastradas na base por visitantes.
      security:
        - API Key Authorization: []
  '/imagens/{id_imagem}/classificacao-celula/{id_celula}/usuario/{id_usuario}':
    parameters:
      - schema:
          type: integer
        name: id_imagem
        in: path
        required: true
      - schema:
          type: integer
        name: id_celula
        in: path
        required: true
      - schema:
          type: integer
        name: id_usuario
        in: path
        required: true
    delete:
      summary: Your DELETE endpoint
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-imagens-id_imagem-classificacao-celula-id_celula-usuario-id_usuario
      description: Remove um registro de classificação para a imagem escolhida.
  '/imagens/{id_imagem}/segmentacao-celula/{id_celula}/usuario/{id_usuario}':
    parameters:
      - schema:
          type: string
        name: id_imagem
        in: path
        required: true
      - schema:
          type: string
        name: id_celula
        in: path
        required: true
      - schema:
          type: string
        name: id_usuario
        in: path
        required: true
    delete:
      summary: Your DELETE endpoint
      operationId: delete-imagens-id_imagem-segmentacao-celula-id_celula-usuario-id_usuario
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      description: Remove um registro de segmentação para a imagem escolhida.
  '/imagens/{id_imagem}/atualizar/{id_usuario}':
    parameters:
      - schema:
          type: integer
        name: id_imagem
        in: path
        required: true
      - schema:
          type: integer
        name: id_usuario
        in: path
        required: true
    put:
      summary: ''
      operationId: put-imagens-id_imagem-atualizar-id_usuario
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      description: Atualiza informações associadas á uma classificação presente em uma imagem e de dados a ela associados.
      security:
        - API Key Authorization: []
components:
  schemas:
    UsuarioBaseModel:
      title: UsuarioBaseModel
      type: object
      properties:
        id:
          type: string
        primeiro_nome:
          type: string
        ultimo_nome:
          type: string
        email:
          type: string
        senha:
          type: string
        ativo:
          type: boolean
    CelulaModel:
      title: CelulaModel
      type: object
      properties:
        id:
          type: string
        tipo_analise_realizada:
          type: string
        id_imagem:
          $ref: '#/components/schemas/ImagemModel'
        id_lesao:
          $ref: '#/components/schemas/LesaoModel'
        id_descricao:
          $ref: '#/components/schemas/DescricaoModel'
    ClassificacaoCelulaModel:
      title: ClassificacaoCelulaModel
      type: object
      properties:
        id:
          type: string
        coord_centro_nucleo_x:
          type: integer
        coord_centro_nucleo_y:
          type: integer
        id_usuario:
          $ref: '#/components/schemas/UsuarioBaseModel'
        id_celula:
          $ref: '#/components/schemas/CelulaModel'
    DescricaoModel:
      title: DescricaoModel
      type: object
      properties:
        id:
          type: string
        codigo:
          type: integer
        nome:
          type: string
    ImagemModel:
      title: ImagemModel
      type: object
      properties:
        id:
          type: string
        nome:
          type: string
        codigo_lamina:
          type: string
        excluida:
          type: boolean
        classificacao_aprovada:
          type: boolean
        dt_aquisicao:
          type: string
        caminho_imagem:
          type: string
        altura:
          type: integer
        largura:
          type: integer
        id_usuario:
          $ref: '#/components/schemas/UsuarioBaseModel'
        id_lesao:
          $ref: '#/components/schemas/CelulaModel'
        fonte_aquisicao:
          type: integer
    LesaoModel:
      title: LesaoModel
      type: object
      properties:
        id:
          type: string
        nome:
          type: string
        detalhes:
          type: string
    SegmentacaoCitoplasmaModel:
      title: SegmentacaoCitoplasmaModel
      type: object
      properties:
        id:
          type: string
        coord_x:
          type: integer
        coord_y:
          type: integer
        id_usuario:
          $ref: '#/components/schemas/UsuarioBaseModel'
        id_celula:
          $ref: '#/components/schemas/CelulaModel'
    SegmentacaoNucleoModel:
      title: SegmentacaoNucleoModel
      type: object
      properties:
        id:
          type: string
        coord_x:
          type: integer
        coord_y:
          type: integer
        id_usuario:
          $ref: '#/components/schemas/UsuarioBaseModel'
        id_celula:
          $ref: '#/components/schemas/CelulaModel'
    SessaoUsuarioModel:
      title: SessaoUsuarioModel
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        token_autenticacao:
          type: string
    AdministradorModel:
      title: AdministradorModel
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UsuarioBaseModel'
        nivel_acesso:
          type: string
        api_key:
          type: string
    CitopatologistaModel:
      title: CitopatologistaModel
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UsuarioBaseModel'
        codigo_crc:
          type: string
    VisitanteModel:
      title: VisitanteModel
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UsuarioBaseModel'
        pais:
          type: string
        estado_regiao:
          type: string
        cidade:
          type: string
    AnalistaModel:
      title: AnalistaModel
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UsuarioBaseModel'
        total_segmentacoes:
          type: integer
        total_classificacoes:
          type: integer
  securitySchemes:
    API Key Authorization:
      name: token_autenticacao
      type: apiKey
      in: header
